body{
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/641c2b170466977.645e34a7760bf.gif");
}
.container {
  background-color: rgba(255, 255, 255, 0.3); 
  border-radius: 10px;
  border: 2px solid white; 
  height: 350px;
  width: 500px;
 
}